        <div class="container"> <!-- Inicio de página Historico-->
            <h2 class="b-header text-white bg-primary text-uppercase">Historia y patrimonio</h2>
        

            <div class="row"> <!-- Inicio de Cartas Principales -->
                <div class="col-md-12 post-featured p-3">
                    <div class="card mb-3 post-featured-card rounded-0 border-0 shadow-sm" style="padding:0">
                            <div class="header-image" style="background-image: var(--url);">
                                <div class="card-body  d-flex  flex-column p-2 position-absolute bottom-0">
                                    <div class="div-card-h" style="margin:1px 0 3px 15px;">
                                        <p class="fs-5 link-light bg-primary d-inline" style="padding: 5px 15px 6px 6px;">
                                            Historia y Soberanía
                                            <!-- <p>SIN CATEGORIA</p> -->
                                        </p>
                                    </div>
                                    <div class="div-card-b" style="margin:-1px 0 3% 15px;padding:0 30px 10px 7px;width:90%; background: #0000006e">
                                        <p class='text-secondary mb-0 fs-4 mt-auto text-white'>Fundamento de los ejércitos</p>
                                        <h5 class='card-title text-dark fs-3 fw-bold text-white'>Herramienta versátil y efectiva del hombre en sociedad</h5>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 post-featured p-3">
                    <div class="card mb-3 post-featured-card rounded-0 border-0 shadow-sm" style="padding:0">
                            <div class="header-image" style="background-image: var(--url);">
                                <div class="card-body  d-flex  flex-column p-2 position-absolute bottom-0">
                                    <div class="div-card-h" style="margin:1px 0 3% 15px;">
                                        <p class="fs-5 link-light bg-primary d-inline" style="padding: 5px 15px 6px 6px;">
                                            Historia y Soberanía
                                            <!-- <p>SIN CATEGORIA</p> -->
                                        </p>
                                    </div>
                                    <div class="div-card-b" style="margin:-1px 0 3% 15px;padding:0 30px 10px 7px;width:90%; background: #0000006e">
                                        <p class='text-secondary mb-0 fs-4 mt-auto text-white'>Fundamento de los ejércitos</p>
                                        <h5 class='card-title text-dark fs-3 fw-bold text-white'>Herramienta versátil y efectiva del hombre en sociedad</h5>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 post-featured p-3">
                    <div class="card mb-3 post-featured-card rounded-0 border-0 shadow-sm" style="padding:0">
                            <div class="header-image" style="background-image: var(--url);">
                                <div class="card-body  d-flex  flex-column p-2 position-absolute bottom-0">
                                    <div class="div-card-h" style="margin:1px 0 3px 15px;">
                                        <p class="fs-5 link-light bg-primary d-inline" style="padding: 5px 15px 6px 6px;">
                                            Historia y Soberanía
                                            <!-- <p>SIN CATEGORIA</p> -->
                                        </p>
                                    </div>
                                    <div class="div-card-b" style="margin:-1px 0 3px 15px;padding:0 30px 10px 7px;width:90%; background: #0000006e">
                                        <p class='text-secondary mb-0 fs-4 mt-auto text-white'>Fundamento de los ejércitos</p>
                                        <h5 class='card-title text-dark fs-3 fw-bold text-white'>Herramienta versátil y efectiva del hombre en sociedad</h5>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                        
            </div> <!-- Fin de Cartas Principales -->


            <div class="border-bottom border-1 border-dark my-4"></div>
            
            
            <!-- Inicio de Cartas Secundarias -->

            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="card mb-3 post-card rounded-0 post-card border-0 pb-4" style="padding:0">       
                        <div class="header-image" style="background-image: var(--url);">
                        </div>
                        <!-- <div class="p-4"> SIN IMAGEN</div> -->
                        <div class="card-body">
                            <div class="fs-5 text-primary">Historia y Soberanía
                                <!-- <p>SIN CATEGORIA</p> -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class='text-black-50 mb-0 fs-4'>Paradas militares en regiones</p>
                                    <h5 class='card-title fs-3 fw-bold'>Homenajes al Ejército que salen en TV</h5>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card mb-3 post-card rounded-0 post-card border-0 pb-4" style="padding:0">       
                        <div class="header-image" style="background-image: var(--url);">
                        </div>
                        <!-- <div class="p-4"> SIN IMAGEN</div> -->
                        <div class="card-body">
                            <div class="fs-5 text-primary">Historia y Soberanía
                                <!-- <p>SIN CATEGORIA</p> -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class='text-black-50 mb-0 fs-4'>Paradas militares en regiones</p>
                                    <h5 class='card-title fs-3 fw-bold'>Homenajes al Ejército que salen en TV</h5>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card mb-3 post-card rounded-0 post-card border-0 pb-4" style="padding:0">       
                        <div class="header-image" style="background-image: var(--url);">
                        </div>
                        <!-- <div class="p-4"> SIN IMAGEN</div> -->
                        <div class="card-body">
                            <div class="fs-5 text-primary">Historia y Soberanía
                                <!-- <p>SIN CATEGORIA</p> -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class='text-black-50 mb-0 fs-4'>Paradas militares en regiones</p>
                                    <h5 class='card-title fs-3 fw-bold'>Homenajes al Ejército que salen en TV</h5>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>

            </div>  <!-- Fin de Cartas Secundarias -->
            

            <div class="border-bottom border-1 border-dark my-4"></div>


            <!-- inicio de Ultimas Cartas -->
            <div class="row p-3">

                <div class="col-md-9 bg-white">
                    <div class="card border-0">
                        <div class="row">
                            <div class="col-4"> FOTO </div>
                            <div class="col-8">
                                <p class="text-primary">Historia y soberania</p>
                                <h3>Paradas Militares en regiones</h3>
                                <h2>Homenajes al ejercito que salen en tv </h2>
                            </div>
                        </div>
                    </div>             
                </div>
                <div class="col-md-9 bg-white">
                    <div class="card border-0">
                        <div class="row">
                            <div class="col-4"> FOTO </div>
                            <div class="col-8">
                                <p class="text-primary">Historia y soberania</p>
                                <h3>Paradas Militares en regiones</h3>
                                <h2>Homenajes al ejercito que salen en tv </h2>
                            </div>
                        </div>
                    </div>             
                </div>

            </div>

            <!-- Fin de Ultimas Cartas -->

            <nav>
                <ul class="list-group list-group-horizontal justify-content-center pagina">
                    <li class="list-group-item border-0 rounded-0"><a href="#">1</a></li>
                    <li class="list-group-item border-0 rounded-0"><a href="#">2</a></li>
                    <li class="list-group-item border-0 rounded-0"><a href="#">3</a></li>
                </ul>
            </nav>


        </div> <!-- Fin de página Historico -->