.readers {
    .post-card {
        height: 400px;
        .header-image {
            height: 230px;
            background-size: cover;
            background-position: center;
        }
    }
    .post-featured-card {
        .header-image {
            height: 300px;
            background-size: cover;
            background-position: center;
        }

    }
}
