<div class="container">
<h1 class="pb-4">  <%= @category.category %> </h1>



 <%= render "layouts/post-readers" %>


<% if current_user %>
  <% if current_user.admin? %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
  <% end %>
<% end %>
</div>

