<div class="container">
<h1 class="bg-primary text-white text-uppercase px-3 py-2 fs-4">  <%= @category.category %> </h1>

 <%= render "layouts/post-featured-readers" %>


 <%= render "layouts/post-readers" %>


</div>

