<style>
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Rubik:wght@300;500&display=swap');
    .navbar a {
        font-family: 'Asap', sans-serif;
        padding-right: 13px !important;
        letter-spacing: -0.4px;
    }
    .nav-link { padding:0; }
    footer {
        background: #677740;
        color: white;
        margin: 50px 0 0 0;
        padding: 10px 18% 34px 18%;
    }
    footer p {
        margin: 12px 0 25px 0 !important;
        font-size: 20px !important;
        line-height: 26px !important;
    }
    footer .fa {
        padding: 5px;
        font-size: 23px;
        width: 34px;
        text-align: center;
        text-decoration: none;
        margin: 0 1px 0 0;
        border-radius: 50%;
        background: white;
    }
    .text-primary { color: #919932 !important;} .bg-primary { background: #919932 !important;}
    footer a { color: #677740; }
    footer a:hover { color: #677740; }
    footer h1, footer h2, footer h3, footer h4 {
        font-family: 'Asap', sans-serif; margin:0; color: white !important;
    }
    footer h1 { font-size: 28.3px; font-weight: 600;}
    footer h3 { font-size: 25px; }
</style>
<footer>
    <div class="container text-center">
        <div style="margin-top:-50px">
            <img style="height:100px" src="https://www.acague.cl/wp-content/uploads/2020/03/1200px-Coat_of_arms_of_the_Chilean_Army.svg_.png"></img>
        </div>
        <h1 class="text-uppercase">REVISTA ARMAS Y SERVICIOS</h1>
        <h3>Fundada en 1974</h3>
        <p>
        Su objetivo principal es difundir el quehacer del Ejército de Chile tanto a sus integrantes como
        a la sociedad en general, a través de artículos periodísticos y columnas de opinión.
        </p>
        <div>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube-play"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-vimeo"></a>
        </div>
    </div>
</footer>