<%= @opinions.inspect %>
            <div class="row p-0">
                <div class="col-md-6" style="background: #E6E7E9;">
                    <div class="c-ln" style="background: black"></div>
                    <div class="row" style="padding: 20px 0 20px 40px">
                        <div class="col-md-4 d-flex align-items-center" style="padding: 0; ">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Cerro_bola_atardecer.JPG/1280px-Cerro_bola_atardecer.JPG" 
                            class="img-fluid" alt="FOTO" style="border-radius:50%; width:158px; height:158px; object-fit: cover;">
                            
                            <!-- <div class="p-4"> SIN IMAGEN</div> -->
                        </div>
                        <div class="col-md-8">
                            <p class="text-primary">Opinión</p>
                            <h3>Paradas militares en regiones</h3>
                            <h2>Homenajes al Ejército que salen en TV</h2>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-6" style="background: #E6E7E9">
                    <div class="c-ln"></div>
                    <div class="row" style="padding: 20px 0 20px 40px">
                        <div class="col-md-4 d-flex align-items-center" style="padding: 0; ">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Cerro_bola_atardecer.JPG/1280px-Cerro_bola_atardecer.JPG" 
                            class="img-fluid" alt="FOTO" style="border-radius:50%; width:158px; height:158px; object-fit: cover;">
                            
                            <!-- <div class="p-4"> SIN IMAGEN</div> -->
                        </div>
                        <div class="col-md-8">
                            <p class="text-primary">Opinión</p>
                            <h3>Paradas militares en regiones</h3>
                            <h2>Homenajes al Ejército que salen en TV</h2>
                        </div>
                            
                    </div>
                </div>
            </div>